body {
    background-color: #1B1F2A;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}


#spinner {
    /** centre the spinner **/
    /* position: fixed; */
    margin: 0 auto;
    transform: translate(-50%, 0%);
    border: 16px solid #d3d3d3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width:160px;
    height: 160px;
    animation: spin 2s linear infinite;
}

#loading * {
    position: relative;
    color: #e3e3e3;
    font-weight: 400;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#donut {
    margin-top: 50px;
}
