body, html {
    background-color: #1B1F2A;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

/* Buttons */
#button-box {
    position: fixed;
    height: 30px;
    width: 100%;
    border: 2px solid black;
}

#block {
    height: 20px;
    width: 20px;
    padding: 5px 10px;
    border: 2px solid red;
}

/* Chart */
#chart-container {
    height: 100%;
    width: 100%;
}

#donut {
    position: absolute;
    margin: 0 auto;
    top: 75px;
    animation: fadein .25s;
}

/* Loading */
#loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: fadein 1s;
}

#loading * {
    position: relative;
    color: #e3e3e3;
    font-weight: 300;
    font-size: 18px;
    padding: 20px;
}

#spinner {
    /** centre the spinner **/
    /* position: fixed; */
    margin: 0 auto;
    transform: translate(-50%, 0%);
    border: 16px solid #d3d3d3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width:160px;
    height: 160px;
    animation: spin 2s linear infinite;
    -webkit-transition: opacity 1s ease-in-out;
}

#load-text {
    cursor: default;
    user-select: none;
}

.hidden {
    visibility: none;
    opacity: 0;
    transition: visibility 0s .15s, opacity .15s;
}

/* Animations */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
